@media screen and (min-width: 1921px) {
    #header-middle__wrapper {
        height: 138px;
        z-index: 1;
        align-items: center;
    }
    #header__logo {
        position: static;
        margin-top: 25px;
    }
    #header-title {
        margin: 0;
        width: 75%;
    }
    #hero-img {
        top: 23%;
    }
}
@media screen and (min-width: 1805px) and (max-width: 1918px) {
    .nav-link {
        padding: 17px 40px;
        font-size: 16px;
    }
    #hero-img {
        top: 25%;
    }
}
@media screen and (min-width:1755px) and (max-width: 1804px) {
    #header-bottom__wrapper {
        justify-content: center;
    }
    #nav-menu {
        width: 90%;
        justify-content: center;
    }
    #hero-img {
        top: 25%;
    }
    #hero-info {
        width: 865.8px;
        height: 433.8px;
    }
    #hero-info p {
        font-size: 23px;
    }
}
@media screen and (min-width: 1599px) and (max-width: 1754px) {
    #header-bottom__wrapper {
        justify-content: center;
    }
    #nav-menu {
        width: 90%;
        justify-content: center;
    }
    #hero-img {
        display: none;
        top: 25%;
    }
    #hero-info {
        width: 75%;
        height: 433.8px;
        margin: 0;
        border-radius: 2% 2% 0 0;
    }
    #hero-info p {
        font-size: 23px;
    }
    #header-title {
        width: 75%;
    }
    #header__logo {
        width: 180px;
        margin-top: 5px;
    }
    #hero-wrapper {
        align-items: flex-end;
        background-color: rgba(245, 245, 245, 0);
        background-image: url("/images/hero-img.png");
        background-position: center;
        background-size: cover;
        padding: 0;
        height: 800px;
    }
    #hero__card {
        width: 583px;
        height: 801px;
        border-radius: 0;
        padding-right: 20px;
    }
    
}
@media screen and (min-width: 1439px) and (max-width: 1598px) {
    #header-bottom__wrapper {
        justify-content: center;
    }
    #nav-menu {
        width: 100%;
        justify-content: center;
    }
    #hero-img {
        display: none;
    }
    #hero-info {
        width: 75%;
        height: 433.8px;
        margin: 0;
        border-radius: 2% 2% 0 0;
    }
    #hero-info p {
        font-size: 22px;
    }
    #header-title {
        width: 75%;
    }
    #header__logo {
        width: 180px;
        margin-top: 5px;
    }
    #hero-wrapper {
        align-items: flex-end;
        background-color: rgba(245, 245, 245, 0);
        background-image: url("/images/hero-img.png");
        background-position: center;
        background-size: cover;
        padding: 0;
        height: 800px;
    }
    #hero__card {
        width: 583px;
        height: 800.6px;
        border-radius: 0;
        padding-right: 20px;
    }
}
@media screen and (min-width: 1317px) and (max-width: 1438px) {
    #header-bottom__wrapper {
        justify-content: center;
    }
    #nav-menu {
        width: 90%;
        justify-content: center;
    }
    .nav-link {
        padding: 17px 30px;
        font-size: 16px;
    }
    #hero-img {
        display: none;
    }
    #hero-info {
        width: 75%;
        height: 433.8px;
        margin: 0;
        border-radius: 2% 2% 0 0;
    }
    #hero-info p {
        font-size: 20px;
    }
    #header-title {
        width: 75%;
    }
    #header-title h1 {
        font-size: 28px;
    }
    #header__logo {
        width: 180px;
        margin-top: 5px;
    }
    #hero-wrapper {
        align-items: flex-end;
        background-color: rgba(245, 245, 245, 0);
        background-image: url("/images/hero-img.png");
        background-position: center;
        background-size: cover;
        padding: 0;
        height: 800px;
    }
    #hero__card {
        width: 583px;
        height: 800.6px;
        border-radius: 0;
        padding-right: 20px;
    }
}
@media screen and (min-width: 1245px) and (max-width: 1316px) {
    #header-bottom__wrapper {
        justify-content: center;
    }
    #nav-menu {
        width: 90%;
        justify-content: center;
    }
    .nav-link {
        padding: 17px 30px;
        font-size: 16px;
    }
    #hero-img {
        display: none;
    }
    #hero-info {
        width: 75%;
        height: 433.8px;
        margin: 0;
        border-radius: 2% 2% 0 0;
    }
    #hero-info p {
        font-size: 18px;
    }
    #header-title {
        width: 75%;
    }
    #header__logo {
        width: 180px;
        margin-top: 5px;
    }
    #hero-wrapper {
        align-items: flex-end;
        background-color: rgba(245, 245, 245, 0);
        background-image: url("/images/hero-img.png");
        background-position: right;
        background-size: 200%;
        padding: 0;
        height: 800px;
        width: 100%;
    }
    #hero__card {
        width: 583px;
        height: 800.6px;
        border-radius: 0;
        padding-right: 20px;
    }
    #nav-item__container {
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

@media screen and (min-width: 1131px) and (max-width: 1244px) {
    #header-bottom__wrapper {
        justify-content: center;
    }
    #nav-menu {
        width: 90%;
        justify-content: center;
    }
    .nav-link {
        padding: 17px 30px;
        font-size: 16px;
    }
    #hero-img {
        display: none;
        top: 25%;
    }
    #hero-info {
        width: 75%;
        height: 433.8px;
        margin: 0;
        border-radius: 2% 2% 0 0;
    }
    #hero-info p {
        font-size: 18px;
    }
    #header-title {
        width: 76%;
    }
    #header-title h1 {
        font-size: 36px;
    }
    #header__logo {
        width: 175px;
        margin-top: 0;
    }
    #hero-wrapper {
        align-items: flex-end;
        background-color: rgba(245, 245, 245, 0);
        background-image: url("/images/hero-img.png");
        background-position: right;
        background-size: 200%;
        padding: 0;
        height: 800px;
        width: 100%;
    }
    #hero__card {
        width: 583px;
        height: 800.6px;
        border-radius: 0;
        padding-right: 20px;
    }
    #nav-item__container {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    #header__flag {
        display: none;    
    }
    #header-middle__wrapper {
        justify-content: space-around;
    }
    footer {
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #footer-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    #contact-us__footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 945px) and (max-width: 1130px) {
    #header-bottom__wrapper {
        justify-content: center;
    }
    #nav-menu {
        width: 90%;
        justify-content: center;
    }
    .nav-link {
        padding: 17px 30px;
        font-size: 16px;
    }
    #hero-img {
        display: none;
        top: 25%;
    }
    #hero-info {
        width: 75%;
        height: 433.8px;
        margin: 0;
        border-radius: 2% 2% 0 0;
    }
    #hero-info p {
        font-size: 18px;
    }
    #header-title {
        width: 90%;
        margin: 0;
        margin-left: 150px;
    }
    #header-title h1 {
        font-size: 32px;
    }
    #header__logo {
        width: 150px;
        margin-top: 0;
    }
    #hero-wrapper {
        align-items: flex-end;
        background-color: rgba(245, 245, 245, 0);
        background-image: url("/images/hero-img.png");
        background-position: right;
        background-size: 200%;
        padding: 0;
        height: 800px;
        width: 100%;
    }
    #hero__card {
        width: 583px;
        height: 800.6px;
        border-radius: 0;
        padding-right: 20px;
    }
    #nav-item__container {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    #header__flag {
        display: none;    
    }
    #header-middle__wrapper {
        justify-content: center;
    }
    footer {
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #footer-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    #contact-us__footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #services-wrapper,
    #about-us__wrapper,
    #contact-us__wrapper {
        width: 95%;
    }
    #services-wrapper h1,
    #about-us__wrapper h1,
    #contact-us__wrapper h1 {
        font-size: 20px;
    }
}
@media screen and (min-width: 872px) and (max-width: 944px) {
    #header-bottom__wrapper {
        justify-content: center;
    }
    #nav-menu {
        width: 90%;
        justify-content: center;
    }
    .nav-link {
        padding: 17px 30px;
        font-size: 16px;
    }
    #hero {
        width: 100%;
    }
    #hero-img {
        display: none;
        top: 25%;
    }
    #hero-info {
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 433.8px;
        margin: 0;
        border-radius: 2% 2% 0 0;
        padding: 0;
    }
    #hero-info h1 {
        margin-left: 20px;
    }
    #hero-info p {
        font-size: 18px;
        width: 95%;
        margin: auto;
    }
    #header-title {
        width: 90%;
        margin: 0;
        margin-left: 150px;
    }
    #header-title h1 {
        font-size: 32px;
    }
    #header__logo {
        width: 150px;
        margin-top: 0;
    }
    #hero-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        background-color: rgba(245, 245, 245, 0);
        background-image: url("/images/hero-img.png");
        background-position: right;
        background-size: 200%;
        padding: 0;
        height: 800px;
        width: 100%;
    }
    #hero__card {
        width: 100%;
        height: 40%;
        border-radius: 0;
        padding: 15px 0;
    }
    #card-title {
        margin: 5px;
    }
    #card-list {
        font-size: 12px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    #nav-item__container {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    #header__flag {
        display: none;    
    }
    #header-middle__wrapper {
        justify-content: center;
    }
    footer {
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #footer-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    #contact-us__footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #services-wrapper,
    #about-us__wrapper,
    #contact-us__wrapper {
        width: 95%;
    }
    #about-us__wrapper h1,
    #services-wrapper h1,
    #contact-us__wrapper h1 {
        font-size: 18px;
    }
    #about-us__wrapper p,
    #services-wrapper p,
    #contact-us__wrapper p {
        font-size: 16px;
    }
    #card-list br {
        display: none;
        margin-bottom: -1em;
    }
}
@media screen and (min-width: 785px) and (max-width: 871px) {
    #header-bottom__wrapper {
        justify-content: center;
    }
    #nav-menu {
        width: 100%;
        justify-content: center;
    }
    .nav-link {
        padding: 17px 30px;
        font-size: 16px;
    }
    #hero-img {
        display: none;
        top: 25%;
    }
    #hero-info {
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 433.8px;
        margin: 0;
        border-radius: 2% 2% 0 0;
        padding: 0;
    }
    #hero-info h1 {
        margin-left: 20px;
    }
    #hero-info p {
        font-size: 18px;
        width: 95%;
        margin: auto;
    }
    #header-title {
        width: 100%;
        margin: 0;
        margin-left: 100px;
    }
    #header-title h1 {
        font-size: 30px;
    }
    #header__logo {
        width: 125px;
        margin-top: 10px;
    }
    #hero-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        background-color: rgba(245, 245, 245, 0);
        background-image: url("/images/hero-img.png");
        background-position: right;
        background-size: 200%;
        padding: 0;
        height: 800px;
        width: 100%;
    }
    #hero__card {
        width: 100%;
        height: 40%;
        border-radius: 0;
        padding: 0;
    }
    #card-title {
        margin: 5px;
    }
    #card-list {
        font-size: 12px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    #nav-item__container {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    #header__flag {
        display: none;    
    }
    #header-middle__wrapper {
        justify-content: center;
    }
    footer {
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #footer-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    #contact-us__footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #services-wrapper,
    #about-us__wrapper,
    #contact-us__wrapper {
        width: 95%;
    }
    #services-wrapper h1,
    #about-us__wrapper h1,
    #contact-us__wrapper h1 {
        font-size: 18px;
    }
    #services-wrapper p,
    #about-us__wrapper p,
    #contact-us__wrapper p {
        font-size: 16px;
    }
    #card-list br {
        display: none;
        height: 1px;
    }
}
@media screen and (min-width: 744px) and (max-width: 784px) {
    #header-bottom__wrapper {
        justify-content: center;
        width: 95%;
    }
    #nav-menu {
        width: 100%;
        justify-content: center;
    }
    .nav-link {
        padding: 17px 30px;
        font-size: 16px;
    }
    #hero-img {
        display: none;
        top: 25%;
    }
    #hero-info {
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 433.8px;
        margin: 0;
        border-radius: 2% 2% 0 0;
        padding: 0;
    }
    #hero-info h1 {
        margin-left: 20px;
    }
    #hero-info p {
        font-size: 18px;
        width: 95%;
        margin: auto;
    }
    #header-title {
        width: 100%;
        margin: 0;
        margin-left: 100px;
    }
    #header-title h1 {
        font-size: 30px;
    }
    #header__logo {
        width: 125px;
        margin-top: 10px;
    }
    #hero-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        background-color: rgba(245, 245, 245, 0);
        background-image: url("/images/hero-img.png");
        background-position: right;
        background-size: 200%;
        padding: 0;
        height: 800px;
        width: 100%;
    }
    #hero__card {
        width: 100%;
        height: 40%;
        border-radius: 0;
        padding: 0;
    }
    #card-title {
        margin: 5px;
    }
    #card-list {
        font-size: 12px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    #nav-item__container {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    #header__flag {
        display: none;    
    }
    #header-middle__wrapper {
        justify-content: center;
    }
    footer {
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #footer-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    #contact-us__footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #services-wrapper,
    #about-us__wrapper,
    #contact-us__wrapper {
        width: 95%;
    }
    #services-wrapper h1,
    #about-us__wrapper h1,
    #contact-us__wrapper h1 {
        font-size: 18px;
    }
    #services-wrapper p,
    #about-us__wrapper p,
    #contact-us__wrapper p {
        font-size: 16px;
    }
    #card-list br {
        display: none;
        height: 1px;
    }
}
@media screen and (min-width: 707px) and (max-width: 743px) {
    #header-bottom__wrapper {
        justify-content: center;
        width: 100%;
    }
    #nav-menu {
        width: 100%;
        justify-content: center;
    }
    .nav-link {
        padding: 17px 30px;
        font-size: 16px;
    }
    #hero-img {
        display: none;
        top: 25%;
    }
    #hero-info {
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 433.8px;
        margin: 0;
        border-radius: 2% 2% 0 0;
        padding: 0;
    }
    #hero-info h1 {
        margin-left: 20px;
    }
    #hero-info p {
        font-size: 18px;
        width: 95%;
        margin: auto;
    }
    #header-title {
        width: 100%;
        margin: 0;
        margin-left: 100px;
    }
    #header-title h1 {
        font-size: 30px;
    }
    #header__logo {
        width: 125px;
        margin-top: 10px;
    }
    #hero-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        background-color: rgba(245, 245, 245, 0);
        background-image: url("/images/hero-img.png");
        background-position: right;
        background-size: 200%;
        padding: 0;
        height: 800px;
        width: 100%;
    }
    #hero__card {
        width: 100%;
        height: 40%;
        border-radius: 0;
        padding: 0;
    }
    #card-title {
        margin: 5px;
    }
    #card-list {
        font-size: 12px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    #nav-item__container {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    #header__flag {
        display: none;    
    }
    #header-middle__wrapper {
        justify-content: center;
    }
    footer {
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #footer-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    #contact-us__footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #services-wrapper,
    #about-us__wrapper,
    #contact-us__wrapper {
        width: 95%;
    }
    #services-wrapper h1,
    #about-us__wrapper h1,
    #contact-us__wrapper h1 {
        font-size: 18px;
    }
    #services-wrapper p,
    #about-us__wrapper p,
    #contact-us__wrapper p {
        font-size: 16px;
    }
    #card-list br {
        display: none;
        height: 1px;
    }
}
@media screen and (min-width: 662px) and (max-width: 706px) {
    #card-list br {
        display: none;
        height: 1px;
    }
    #header-bottom__wrapper {
        justify-content: center;
        width: 100%;
    }
    #nav-menu {
        width: 100%;
        justify-content: center;
    }
    .nav-link {
        padding: 19px 30px;
        font-size: 14px;
    }
    #hero-img {
        display: none;
        top: 25%;
    }
    #hero-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 347.04px;
        margin: 0;
        border-radius: 2% 2% 0 0;
        padding: 0;
    }
    #hero-info h1 {
        margin: 0;
        font-size: 32px;
    }
    #hero-info p {
        font-size: 16px;
        width: 95%;
    }
    #header-title {
        width: 100%;
        margin: 0;
        margin-left: 100px;
    }
    #header-title h1 {
        font-size: 30px;
    }
    #header__logo {
        width: 125px;
        margin-top: 10px;
    }
    #hero-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        background-color: rgba(245, 245, 245, 0);
        background-image: url("/images/hero-img.png");
        background-position: right;
        background-size: 200%;
        padding: 0;
        height: 800px;
        width: 100%;
    }
    #hero__card {
        width: 100%;
        height: 40%;
        border-radius: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #card-title {
        margin: 5px;
        width: 50%;
        display: flex;
        justify-content: center;
    }
    #card-list {
        font-size: 12px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    #nav-item__container {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    #header__flag {
        display: none;    
    }
    #header-middle__wrapper {
        justify-content: center;
    }
    footer {
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #footer-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    #contact-us__footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #services-wrapper,
    #about-us__wrapper,
    #contact-us__wrapper {
        width: 95%;
    }
    #services-wrapper h1,
    #about-us__wrapper h1,
    #contact-us__wrapper h1 {
        font-size: 18px;
    }
    #services-wrapper p,
    #about-us__wrapper p,
    #contact-us__wrapper p {
        font-size: 16px;
    }
}
@media screen and (min-width: 560px) and (max-width: 661px) {
    #card-list br {
        display: none;
        height: 1px;
    }
    #header-bottom__wrapper {
        justify-content: center;
        width: 100%;
    }
    #nav-menu {
        width: 100%;
        justify-content: center;
        transition: all 0.5s;
    }
    #nav-menu li {
        display: none;
        transition: all 0.5s;
    }
    #nav-menu a.icon {
        display: block;
        text-decoration: none;
        color: rgb(245, 245, 245);
        font-size: 50px;
        transition: all 0.5s;
    }
    #nav-menu.responsive .icon {
        display: none;
        right: 0;
        top: 0;
    }
    #nav-menu.responsive #nav-item__container  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
    }
    #nav-menu.responsive li {
        display: flex;
        width: 100%;
        justify-content: center;
        transition: all 0.5s;
    }
    #nav-menu.responsive li a{
        display: flex;
        width: 100%;
        justify-content: center;
        transition: all 0.5s;
    }  
    .nav-link {
        padding: 19px 30px;
        font-size: 14px;
    }
    #hero-img {
        display: none;
        top: 25%;
    }
    #hero-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 75%;
        margin: 0;
        border-radius: 0;
        padding: 0;
    }
    #hero-info h1 {
        margin: 0;
        font-size: 32px;
    }
    #hero-info p {
        font-size: 16px;
        width: 95%;
        text-align: center;
    }
    #header-title {
        width: 100%;
        margin: 0;
        margin-left: 100px;
    }
    #header-title h1 {
        font-size: 30px;
    }
    #header__logo {
        width: 125px;
        margin-top: 10px;
    }
    #hero-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        background-color: rgba(245, 245, 245, 0);
        background-image: url("/images/hero-img.png");
        background-position: right;
        background-size: 200%;
        padding: 0;
        height: 800px;
        width: 100%;
    }
    #hero__card {
        width: 100%;
        height: 40%;
        border-radius: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #card-title {
        margin: 5px;
        font-size: 30px;
        width: 75%;
        display: flex;
        justify-content: center;
    }
    #card-list {
        font-size: 12px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    #nav-item__container {
        width: 100%;
        display: none;
        padding: 0;
        margin: 0;
    }
    #header__flag {
        display: none;    
    }
    #header-middle__wrapper {
        justify-content: center;
    }
    footer {
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #footer-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    #contact-us__footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #services-wrapper,
    #about-us__wrapper,
    #contact-us__wrapper {
        width: 95%;
    }
    #services-wrapper h1,
    #about-us__wrapper h1,
    #contact-us__wrapper h1 {
        font-size: 16px;
    }
    #services-wrapper p,
    #about-us__wrapper p,
    #contact-us__wrapper p {
        font-size: 16px;
    }
}
@media screen and (max-width: 559px) {
    #header-middle__wrapper {
        flex-direction: column;
        text-align: center;
    }
    #card-list br {
        display: none;
    }
    #card-list li {
        padding: 2px 0;
        width: 95%;
    }
    #header-bottom__wrapper {
        justify-content: center;
        width: 100%;
    }
    #nav-menu {
        width: 100%;
        justify-content: center;
        transition: all 0.5s;
    }
    #nav-menu li {
        display: none;
        transition: all 0.5s;
    }
    #nav-menu a.icon {
        display: block;
        text-decoration: none;
        color: rgb(245, 245, 245);
        font-size: 50px;
        transition: all 0.5s;
    }
    #nav-menu.responsive .icon {
        display: none;
        right: 0;
        top: 0;
    }
    #nav-menu.responsive #nav-item__container  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
    }
    #nav-menu.responsive li {
        display: flex;
        width: 100%;
        justify-content: center;
        transition: all 0.5s;
    }
    #nav-menu.responsive li a{
        display: flex;
        width: 100%;
        justify-content: center;
        transition: all 0.5s;
    }  
    .nav-link {
        padding: 19px 30px;
        font-size: 14px;
    }
    #hero-img {
        display: none;
        top: 25%;
    }
    #hero-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 75%;
        margin: 0;
        border-radius: 0;
        padding: 0;
    }
    #hero-info h1 {
        margin: 0;
        font-size: 32px;
    }
    #hero-info p {
        font-size: 16px;
        width: 95%;
        text-align: center;
    }
    #header-title {
        width: 100%;
        margin: 0;
    }
    #header-title h1 {
        font-size: 24px;
    }
    #header__logo {
        width: 125px;
        margin-top: 0;
        position: static;
    }
    #hero-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        background-color: rgba(245, 245, 245, 0);
        background-image: url("/images/hero-img.png");
        background-position: right;
        background-size: cover;
        padding: 0;
        height: 800px;
        width: 100%;
    }
    #hero__card {
        width: 100%;
        height: 40%;
        border-radius: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #card-title {
        margin: 5px;
        font-size: 20px;
        width: 75%;
        display: flex;
        justify-content: center;
    }
    #card-list {
        font-size: 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    #nav-item__container {
        width: 100%;
        display: none;
        padding: 0;
        margin: 0;
    }
    #header__flag {
        display: none;    
    }
    #header-middle__wrapper {
        justify-content: center;
    }
    footer {
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #footer-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    #footer__flag {
        width: 100px;
    }
    #contact-us__footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 12px;
    }
    #services-wrapper,
    #about-us__wrapper,
    #contact-us__wrapper {
        width: 98%;
        padding: 0 10px;
    }
    #services-wrapper h1,
    #about-us__wrapper h1,
    #contact-us__wrapper h1 {
        font-size: 15px;
        text-align: center;
    }
    #services-wrapper p,
    #about-us__wrapper p,
    #contact-us__wrapper p {
        font-size: 14px;
        width: 100%;
        text-align: center;
    }
}